.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookies {
    font-family: Atma;
}

.cps {
    font-size: 2rem;
}

button {
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #B771E5;
    color: #AEEA94;

}

button:hover {
    background-color: #FFFBCA;
}