/* remember to make your app accessible and add media queries */
/* The root pseudo class  */

:root{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #4635B1;
    font-family: Atma;
}

.header{
    display: flex;
    justify-content: center;
    font-family: Rubik Puddles;
    text-align: center;
    background-color: #B771E5;
    padding: 10px;
    color: #AEEA94;
    border-radius: 10px;
    font-size: 4rem;
}